@model WebApplication6.Models.Users
@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>
<hr />

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" type="hidden" />
    <input asp-for="CreatedAt" type="hidden" />
    <input asp-for="Password" type="hidden" />
   

    <div class="row">
        <div class="col mb-3">
            <label asp-for="Fname" class="form-label"></label>
            <input asp-for="Fname" class="form-control" />
            <span asp-validation-for="Fname" class="text-danger"></span>
        </div>
        <div class="col mb-3">
            <label asp-for="Lname" class="form-label"></label>
            <input asp-for="Lname" class="form-control" />
            <span asp-validation-for="Lname" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Role" class="form-label"></label>
        <select asp-for="Role" class="form-select">
            <option value="Attendee">Attendee</option>
            <option value="Organizer">Organizer</option>
            <option value="Admin">Admin</option>
        </select>
    </div>

    <button type="submit" class="btn btn-warning">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
